KIPS_WMS/Web References/NAV_WS/KIPS_wms.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/KIPS_wms" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/KIPS_wms" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/KIPS_wms" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="LogIn">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="usernameP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="passwordP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="cSVStringP" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="LogIn_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="cSVStringP" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetQuote">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="documentNoP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="userIdP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="locationCodeP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="customerCodeP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="customerNameP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="isAuthenticatedCustomerP" type="int" />
            <element minOccurs="1" maxOccurs="1" name="cSVStringP" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetQuote_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="customerCodeP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="customerNameP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="isAuthenticatedCustomerP" type="int" />
            <element minOccurs="1" maxOccurs="1" name="cSVStringP" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="SendQuote">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="userIdP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="locationCodeP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="documentNoP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="customerNoP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="isAuthenticatedCustomerP" type="int" />
            <element minOccurs="1" maxOccurs="1" name="cSVStringLinesP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="statusP" type="int" />
            <element minOccurs="1" maxOccurs="1" name="creditLimitOverdoP" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="SendQuote_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="documentNoP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="statusP" type="int" />
            <element minOccurs="1" maxOccurs="1" name="creditLimitOverdoP" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="GetCustomerCreditLimit">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="userIdP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="customerCodeP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="creditLimitP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="usedCreditLimitP" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetCustomerCreditLimit_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="creditLimitP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="usedCreditLimitP" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetItemInformation">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="itemNoa47BarCodeP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="variantCodeP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="customerNoP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="isAuthenticatedCustomerP" type="int" />
            <element minOccurs="1" maxOccurs="1" name="locationCodeP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="userIdP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="cSVStringP" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetItemInformation_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="cSVStringP" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetItemPriceAndInventory">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="itemNoP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="variantCodeP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="unitOfMeasureP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="salesQtyP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="customerNoP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="isAuthenticatedCustomerP" type="int" />
            <element minOccurs="1" maxOccurs="1" name="locationCodeP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="userIdP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="cSVStringP" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetItemPriceAndInventory_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="cSVStringP" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetItemUnitsOfMeasure">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="itemNoP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="userIdP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="cSVStringP" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetItemUnitsOfMeasure_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="cSVStringP" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetItemLagerList">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="itemNoP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="variantCodeP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="trackingCodeP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="locationCodeP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="cSVStringP" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetItemLagerList_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="cSVStringP" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetItems">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="cSVStringP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="itemNoP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="lastDateModifiedP" type="date" />
          </sequence>
        </complexType>
      </element>
      <element name="GetItems_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="cSVStringP" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetCustomers">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="cSVStringP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="customerNoP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="lastDateModifiedP" type="date" />
          </sequence>
        </complexType>
      </element>
      <element name="GetCustomers_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="cSVStringP" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetWarehouseReceipts">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="userIdP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="locationCodeP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="sublocationCodeP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="itemNoP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="cSVStringP" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetWarehouseReceipts_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="cSVStringP" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetWarehouseReceiptLines">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="userIdP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="locationCodeP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="sublocationCodeP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="whsReceiptNoP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="cSVStringP" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetWarehouseReceiptLines_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="cSVStringP" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetReceiptLineQtyToReceive">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="userIdP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="whsReceiptNoP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="whsReceiptLineNoP" type="int" />
            <element minOccurs="1" maxOccurs="1" name="qtyToReceiveP" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetReceiptLineQtyToReceive_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="qtyToReceiveP" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdateWarehouseReceiptLineQty">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="userIdP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="whsReceiptNoP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="whsReceiptLineNoP" type="int" />
            <element minOccurs="1" maxOccurs="1" name="qtyP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="isUpdateP" type="int" />
            <element minOccurs="1" maxOccurs="1" name="trackingCSVStringP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="normCSVStringP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="scannedUoMCodeP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="qtyInScannedUoMP" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdateWarehouseReceiptLineQty_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="UpdateDamagedIncomplete">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="userIdP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="documentNoP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="documentLineNoP" type="int" />
            <element minOccurs="1" maxOccurs="1" name="damagedQtyP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="incompleteQtyP" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdateDamagedIncomplete_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="BinToBinMovement">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="itemNoP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="qtyAsTxtP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="unitOfMeasureCodeP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="locationCodeP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="sublocationCodeP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="fromBinCodeP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="toBinCodeP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="userIdP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="trackingCSVStringP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="nAVLineNoP" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="BinToBinMovement_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="nAVLineNoP" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="GetItemFromAnotherBin">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="linesCSV" type="string" />
            <element minOccurs="1" maxOccurs="1" name="docNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="lineNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="userID" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetItemFromAnotherBin_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="linesCSV" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="DeleteReclassificationLines">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="lineNoP" type="int" />
            <element minOccurs="1" maxOccurs="1" name="userID" type="string" />
            <element minOccurs="1" maxOccurs="1" name="locationCodeP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="sublocationCodeP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="deleteAllLinesP" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="DeleteReclassificationLines_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="PostReclassification">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="userIdP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="locationCodeP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="sublocationCodeP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="statusP" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="PostReclassification_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="statusP" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="GetItemBinContent">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="userIdP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="locationCodeP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="sublocationCodeP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="binCodeP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="itemNoP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="variantCodeP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="cSVStringP" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetItemBinContent_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="cSVStringP" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="ChangeBinOnDocumentLine">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="userIdP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="documentTypeP" type="int" />
            <element minOccurs="1" maxOccurs="1" name="documentNoP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="documentLineNoP" type="int" />
            <element minOccurs="1" maxOccurs="1" name="newBinCodeP" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="ChangeBinOnDocumentLine_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="SplitDocumentLine">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="userIdP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="documentTypeP" type="int" />
            <element minOccurs="1" maxOccurs="1" name="documentNoP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="documentLineNoP" type="int" />
            <element minOccurs="1" maxOccurs="1" name="newDocumentLineNoP" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="SplitDocumentLine_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="newDocumentLineNoP" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="TestItemHasTracking">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="itemNoP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="trackingTypeP" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="TestItemHasTracking_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="trackingTypeP" type="int" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="LogIn">
    <part name="parameters" element="tns:LogIn" />
  </message>
  <message name="LogIn_Result">
    <part name="parameters" element="tns:LogIn_Result" />
  </message>
  <message name="GetQuote">
    <part name="parameters" element="tns:GetQuote" />
  </message>
  <message name="GetQuote_Result">
    <part name="parameters" element="tns:GetQuote_Result" />
  </message>
  <message name="SendQuote">
    <part name="parameters" element="tns:SendQuote" />
  </message>
  <message name="SendQuote_Result">
    <part name="parameters" element="tns:SendQuote_Result" />
  </message>
  <message name="GetCustomerCreditLimit">
    <part name="parameters" element="tns:GetCustomerCreditLimit" />
  </message>
  <message name="GetCustomerCreditLimit_Result">
    <part name="parameters" element="tns:GetCustomerCreditLimit_Result" />
  </message>
  <message name="GetItemInformation">
    <part name="parameters" element="tns:GetItemInformation" />
  </message>
  <message name="GetItemInformation_Result">
    <part name="parameters" element="tns:GetItemInformation_Result" />
  </message>
  <message name="GetItemPriceAndInventory">
    <part name="parameters" element="tns:GetItemPriceAndInventory" />
  </message>
  <message name="GetItemPriceAndInventory_Result">
    <part name="parameters" element="tns:GetItemPriceAndInventory_Result" />
  </message>
  <message name="GetItemUnitsOfMeasure">
    <part name="parameters" element="tns:GetItemUnitsOfMeasure" />
  </message>
  <message name="GetItemUnitsOfMeasure_Result">
    <part name="parameters" element="tns:GetItemUnitsOfMeasure_Result" />
  </message>
  <message name="GetItemLagerList">
    <part name="parameters" element="tns:GetItemLagerList" />
  </message>
  <message name="GetItemLagerList_Result">
    <part name="parameters" element="tns:GetItemLagerList_Result" />
  </message>
  <message name="GetItems">
    <part name="parameters" element="tns:GetItems" />
  </message>
  <message name="GetItems_Result">
    <part name="parameters" element="tns:GetItems_Result" />
  </message>
  <message name="GetCustomers">
    <part name="parameters" element="tns:GetCustomers" />
  </message>
  <message name="GetCustomers_Result">
    <part name="parameters" element="tns:GetCustomers_Result" />
  </message>
  <message name="GetWarehouseReceipts">
    <part name="parameters" element="tns:GetWarehouseReceipts" />
  </message>
  <message name="GetWarehouseReceipts_Result">
    <part name="parameters" element="tns:GetWarehouseReceipts_Result" />
  </message>
  <message name="GetWarehouseReceiptLines">
    <part name="parameters" element="tns:GetWarehouseReceiptLines" />
  </message>
  <message name="GetWarehouseReceiptLines_Result">
    <part name="parameters" element="tns:GetWarehouseReceiptLines_Result" />
  </message>
  <message name="GetReceiptLineQtyToReceive">
    <part name="parameters" element="tns:GetReceiptLineQtyToReceive" />
  </message>
  <message name="GetReceiptLineQtyToReceive_Result">
    <part name="parameters" element="tns:GetReceiptLineQtyToReceive_Result" />
  </message>
  <message name="UpdateWarehouseReceiptLineQty">
    <part name="parameters" element="tns:UpdateWarehouseReceiptLineQty" />
  </message>
  <message name="UpdateWarehouseReceiptLineQty_Result">
    <part name="parameters" element="tns:UpdateWarehouseReceiptLineQty_Result" />
  </message>
  <message name="UpdateDamagedIncomplete">
    <part name="parameters" element="tns:UpdateDamagedIncomplete" />
  </message>
  <message name="UpdateDamagedIncomplete_Result">
    <part name="parameters" element="tns:UpdateDamagedIncomplete_Result" />
  </message>
  <message name="BinToBinMovement">
    <part name="parameters" element="tns:BinToBinMovement" />
  </message>
  <message name="BinToBinMovement_Result">
    <part name="parameters" element="tns:BinToBinMovement_Result" />
  </message>
  <message name="GetItemFromAnotherBin">
    <part name="parameters" element="tns:GetItemFromAnotherBin" />
  </message>
  <message name="GetItemFromAnotherBin_Result">
    <part name="parameters" element="tns:GetItemFromAnotherBin_Result" />
  </message>
  <message name="DeleteReclassificationLines">
    <part name="parameters" element="tns:DeleteReclassificationLines" />
  </message>
  <message name="DeleteReclassificationLines_Result">
    <part name="parameters" element="tns:DeleteReclassificationLines_Result" />
  </message>
  <message name="PostReclassification">
    <part name="parameters" element="tns:PostReclassification" />
  </message>
  <message name="PostReclassification_Result">
    <part name="parameters" element="tns:PostReclassification_Result" />
  </message>
  <message name="GetItemBinContent">
    <part name="parameters" element="tns:GetItemBinContent" />
  </message>
  <message name="GetItemBinContent_Result">
    <part name="parameters" element="tns:GetItemBinContent_Result" />
  </message>
  <message name="ChangeBinOnDocumentLine">
    <part name="parameters" element="tns:ChangeBinOnDocumentLine" />
  </message>
  <message name="ChangeBinOnDocumentLine_Result">
    <part name="parameters" element="tns:ChangeBinOnDocumentLine_Result" />
  </message>
  <message name="SplitDocumentLine">
    <part name="parameters" element="tns:SplitDocumentLine" />
  </message>
  <message name="SplitDocumentLine_Result">
    <part name="parameters" element="tns:SplitDocumentLine_Result" />
  </message>
  <message name="TestItemHasTracking">
    <part name="parameters" element="tns:TestItemHasTracking" />
  </message>
  <message name="TestItemHasTracking_Result">
    <part name="parameters" element="tns:TestItemHasTracking_Result" />
  </message>
  <portType name="KIPS_wms_Port">
    <operation name="LogIn">
      <input name="LogIn" message="tns:LogIn" />
      <output name="LogIn_Result" message="tns:LogIn_Result" />
    </operation>
    <operation name="GetQuote">
      <input name="GetQuote" message="tns:GetQuote" />
      <output name="GetQuote_Result" message="tns:GetQuote_Result" />
    </operation>
    <operation name="SendQuote">
      <input name="SendQuote" message="tns:SendQuote" />
      <output name="SendQuote_Result" message="tns:SendQuote_Result" />
    </operation>
    <operation name="GetCustomerCreditLimit">
      <input name="GetCustomerCreditLimit" message="tns:GetCustomerCreditLimit" />
      <output name="GetCustomerCreditLimit_Result" message="tns:GetCustomerCreditLimit_Result" />
    </operation>
    <operation name="GetItemInformation">
      <input name="GetItemInformation" message="tns:GetItemInformation" />
      <output name="GetItemInformation_Result" message="tns:GetItemInformation_Result" />
    </operation>
    <operation name="GetItemPriceAndInventory">
      <input name="GetItemPriceAndInventory" message="tns:GetItemPriceAndInventory" />
      <output name="GetItemPriceAndInventory_Result" message="tns:GetItemPriceAndInventory_Result" />
    </operation>
    <operation name="GetItemUnitsOfMeasure">
      <input name="GetItemUnitsOfMeasure" message="tns:GetItemUnitsOfMeasure" />
      <output name="GetItemUnitsOfMeasure_Result" message="tns:GetItemUnitsOfMeasure_Result" />
    </operation>
    <operation name="GetItemLagerList">
      <input name="GetItemLagerList" message="tns:GetItemLagerList" />
      <output name="GetItemLagerList_Result" message="tns:GetItemLagerList_Result" />
    </operation>
    <operation name="GetItems">
      <input name="GetItems" message="tns:GetItems" />
      <output name="GetItems_Result" message="tns:GetItems_Result" />
    </operation>
    <operation name="GetCustomers">
      <input name="GetCustomers" message="tns:GetCustomers" />
      <output name="GetCustomers_Result" message="tns:GetCustomers_Result" />
    </operation>
    <operation name="GetWarehouseReceipts">
      <input name="GetWarehouseReceipts" message="tns:GetWarehouseReceipts" />
      <output name="GetWarehouseReceipts_Result" message="tns:GetWarehouseReceipts_Result" />
    </operation>
    <operation name="GetWarehouseReceiptLines">
      <input name="GetWarehouseReceiptLines" message="tns:GetWarehouseReceiptLines" />
      <output name="GetWarehouseReceiptLines_Result" message="tns:GetWarehouseReceiptLines_Result" />
    </operation>
    <operation name="GetReceiptLineQtyToReceive">
      <input name="GetReceiptLineQtyToReceive" message="tns:GetReceiptLineQtyToReceive" />
      <output name="GetReceiptLineQtyToReceive_Result" message="tns:GetReceiptLineQtyToReceive_Result" />
    </operation>
    <operation name="UpdateWarehouseReceiptLineQty">
      <input name="UpdateWarehouseReceiptLineQty" message="tns:UpdateWarehouseReceiptLineQty" />
      <output name="UpdateWarehouseReceiptLineQty_Result" message="tns:UpdateWarehouseReceiptLineQty_Result" />
    </operation>
    <operation name="UpdateDamagedIncomplete">
      <input name="UpdateDamagedIncomplete" message="tns:UpdateDamagedIncomplete" />
      <output name="UpdateDamagedIncomplete_Result" message="tns:UpdateDamagedIncomplete_Result" />
    </operation>
    <operation name="BinToBinMovement">
      <input name="BinToBinMovement" message="tns:BinToBinMovement" />
      <output name="BinToBinMovement_Result" message="tns:BinToBinMovement_Result" />
    </operation>
    <operation name="GetItemFromAnotherBin">
      <input name="GetItemFromAnotherBin" message="tns:GetItemFromAnotherBin" />
      <output name="GetItemFromAnotherBin_Result" message="tns:GetItemFromAnotherBin_Result" />
    </operation>
    <operation name="DeleteReclassificationLines">
      <input name="DeleteReclassificationLines" message="tns:DeleteReclassificationLines" />
      <output name="DeleteReclassificationLines_Result" message="tns:DeleteReclassificationLines_Result" />
    </operation>
    <operation name="PostReclassification">
      <input name="PostReclassification" message="tns:PostReclassification" />
      <output name="PostReclassification_Result" message="tns:PostReclassification_Result" />
    </operation>
    <operation name="GetItemBinContent">
      <input name="GetItemBinContent" message="tns:GetItemBinContent" />
      <output name="GetItemBinContent_Result" message="tns:GetItemBinContent_Result" />
    </operation>
    <operation name="ChangeBinOnDocumentLine">
      <input name="ChangeBinOnDocumentLine" message="tns:ChangeBinOnDocumentLine" />
      <output name="ChangeBinOnDocumentLine_Result" message="tns:ChangeBinOnDocumentLine_Result" />
    </operation>
    <operation name="SplitDocumentLine">
      <input name="SplitDocumentLine" message="tns:SplitDocumentLine" />
      <output name="SplitDocumentLine_Result" message="tns:SplitDocumentLine_Result" />
    </operation>
    <operation name="TestItemHasTracking">
      <input name="TestItemHasTracking" message="tns:TestItemHasTracking" />
      <output name="TestItemHasTracking_Result" message="tns:TestItemHasTracking_Result" />
    </operation>
  </portType>
  <binding name="KIPS_wms_Binding" type="tns:KIPS_wms_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="LogIn">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/KIPS_wms:LogIn" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="LogIn">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="LogIn_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetQuote">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/KIPS_wms:GetQuote" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetQuote">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetQuote_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="SendQuote">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/KIPS_wms:SendQuote" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="SendQuote">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="SendQuote_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetCustomerCreditLimit">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/KIPS_wms:GetCustomerCreditLimit" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetCustomerCreditLimit">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetCustomerCreditLimit_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetItemInformation">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/KIPS_wms:GetItemInformation" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetItemInformation">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetItemInformation_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetItemPriceAndInventory">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/KIPS_wms:GetItemPriceAndInventory" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetItemPriceAndInventory">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetItemPriceAndInventory_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetItemUnitsOfMeasure">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/KIPS_wms:GetItemUnitsOfMeasure" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetItemUnitsOfMeasure">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetItemUnitsOfMeasure_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetItemLagerList">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/KIPS_wms:GetItemLagerList" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetItemLagerList">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetItemLagerList_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetItems">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/KIPS_wms:GetItems" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetItems">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetItems_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetCustomers">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/KIPS_wms:GetCustomers" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetCustomers">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetCustomers_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetWarehouseReceipts">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/KIPS_wms:GetWarehouseReceipts" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetWarehouseReceipts">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetWarehouseReceipts_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetWarehouseReceiptLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/KIPS_wms:GetWarehouseReceiptLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetWarehouseReceiptLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetWarehouseReceiptLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetReceiptLineQtyToReceive">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/KIPS_wms:GetReceiptLineQtyToReceive" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetReceiptLineQtyToReceive">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetReceiptLineQtyToReceive_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateWarehouseReceiptLineQty">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/KIPS_wms:UpdateWarehouseReceiptLineQty" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateWarehouseReceiptLineQty">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateWarehouseReceiptLineQty_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateDamagedIncomplete">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/KIPS_wms:UpdateDamagedIncomplete" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateDamagedIncomplete">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateDamagedIncomplete_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="BinToBinMovement">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/KIPS_wms:BinToBinMovement" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="BinToBinMovement">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="BinToBinMovement_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetItemFromAnotherBin">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/KIPS_wms:GetItemFromAnotherBin" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetItemFromAnotherBin">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetItemFromAnotherBin_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="DeleteReclassificationLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/KIPS_wms:DeleteReclassificationLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="DeleteReclassificationLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="DeleteReclassificationLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="PostReclassification">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/KIPS_wms:PostReclassification" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="PostReclassification">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="PostReclassification_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetItemBinContent">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/KIPS_wms:GetItemBinContent" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetItemBinContent">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetItemBinContent_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ChangeBinOnDocumentLine">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/KIPS_wms:ChangeBinOnDocumentLine" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ChangeBinOnDocumentLine">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ChangeBinOnDocumentLine_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="SplitDocumentLine">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/KIPS_wms:SplitDocumentLine" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="SplitDocumentLine">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="SplitDocumentLine_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="TestItemHasTracking">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/KIPS_wms:TestItemHasTracking" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="TestItemHasTracking">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="TestItemHasTracking_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="KIPS_wms">
    <port name="KIPS_wms_Port" binding="tns:KIPS_wms_Binding">
      <address location="http://sqlserver:7047/Wurth/ws/Wurth/Codeunit/KIPS_wms" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>